@model TheatreCMS3.Areas.Rent.Models.RentalHistory

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="RH-edit-h2">Edit Rental History</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()



    <div class="RH-edit-form-horizontal">         
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <form>
            <div class="RH-edit-label-container">
                <div class="RH-edit-form-group">
                    @Html.LabelFor(model => model.Rental, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div>
                        @Html.EditorFor(model => model.Rental, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Rental, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="RH-edit-form-group">
                    @Html.LabelFor(model => model.RentalDamaged, "Damaged?", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="">
                        <div id="myCheck">
                            @Html.EditorFor(model => model.RentalDamaged)
                            @Html.ValidationMessageFor(model => model.RentalDamaged, "", new { @class = "text-danger" })

                        </div>
                    </div>
                </div>
            </div>

            <div class="RH-edit-form-group">
                @Html.LabelFor(model => model.DamagesIncurred, "Notes", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="">
                    @Html.EditorFor(model => model.DamagesIncurred, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.DamagesIncurred, "", new { @class = "text-danger" })
                </div>
            </div>


            <div class="RH-edit-form-group">
                <div class="RH-edit-button-container">
                    <input type="submit" value="Back to List" class="btn btn-dark" />
                    <input type="submit" value="Create" class="btn btn-success" />
                </div>

            </div>
        </form>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
