@model IEnumerable<TheatreCMS3.Areas.Rent.Models.RentalHistory>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

<h2>Index</h2>


<p>
    @Html.ActionLink("Create New", "Create")
</p>
<div class="RH-index-form-horizontal">
    <form>
        <div class="RH-index-header row">
            <div class="RH-index-row-cols-1 col-sm">
                Most Recent Rental Histories
            </div>
            <div class="RH-index-row-cols-3 col-sm">
                <span class="RH-index-inline-text">Sort by:</span>
                <select class="RH-index-sortdrop">                      
                    <option value="none">No Extra Sorting...</option>
                    <option value="az">A-Z</option>
                    <option value="za">Z-A</option>
                    <option value="damaged">Damaged Rentals</option>
                    <option value="undamaged">Undamaged Rentals</option>
                </select>
            </div>

        </div>
        <table id="RH-index-table" style="width:100%">

            @foreach (var item in Model)
            {

                <tr class="RH-index-table-row">
                    <td class="RH-index-damaged" style="width:5%">
                        @if (item.RentalDamaged == true)
                        {
                            <i class="fa-solid fa-circle-xmark" style="color: #e44d1b;"></i>
                        }
                        else
                        {
                            <i class="fa-solid fa-circle-check" style="color: #4eb154;"></i>
                        }
                    </td>
                    <td class="RH-index-rentalname" style="width:10%">
                        <span class="badge badge-dark">@Html.DisplayFor(modelItem => item.Rental)</span>
                    </td>
                    <td class="RH-index-notes" style="width:80%">

                        @if (item.RentalDamaged == true)
                        {
                            <span class="d-inline-block text-truncate text-dark" style="max-width: 400px;">@Html.DisplayFor(modelItem => item.DamagesIncurred)</span>

                        }
                        else
                        {
                            <span class="d-inline-block text-truncate text-muted" style="max-width: 400px;">@Html.DisplayFor(modelItem => item.DamagesIncurred)</span>
                        }


                    </td>
                    <td style="width:5%">
                        <div class="RH-index-dropdown">
                            <button class="RH-index-dropbtn"><i class="fas fa-ellipsis-v"></i></button>
                            <div class="RH-index-dropdown-content">
                                @Html.ActionLink("Edit", "Edit", new { id = item.RentalHistoryId })
                                <br>
                                @Html.ActionLink("Details", "Details", new { id = item.RentalHistoryId })
                                <br>
                                @Html.ActionLink("Delete", "Delete", new { id = item.RentalHistoryId })
                            </div>
                        </div>
                    </td>
                </tr>
            }
        </table>
    </form>
</div>

@*added to see if this works for the partial view*@
<div id="partialViewContainer">
    @Html.Partial("_RentalHistoryTable", Model)
</div>
